.fix-img-best-page3 {
    img {
        width: 100%;
        object-fit: contain;
    }
}

.Page2-container {
    background-color: #151515;

    h1,
    p {
        color: white;
    }

    .Careers-container-section3 {
        height: 420px;
    }
}

.fix-best-img-page {
    margin-top: 100px;

    img {
        width: 100% !important;

    }
}

.fix-best-span {
    margin-top: 50px !important;
    width: 40%;
    margin: 0 auto;

    span {
        color: white;
        margin-top: 30px !important;
    }
}



.Careers-container-section3 {
    height: 300px;
    bottom: 150px;
}