.luxury-border {
    border-bottom: 1px solid gray;
}

.luxury-3 {
    h2 {
        color: black;
        font-size: 2.1rem !important;
    }

    h1 {
        font-size: 1rem !important;
        font-weight: 500 !important;
    }

    button {
        background-color: white !important;
        color: black !important;
        border: none !important;
    }
}

.Luxury-abc {
    width: 60% !important;
    bottom: 100px;

    p {
        text-align: left !important;
    }
}

.Luxury-background-lol {
    background-color: #eaeaea !important;
    button {
        background-color: #eaeaea !important;
    }
}

.luxury-4 {
    margin-left: 500px;

    p {
        text-align: left !important;
    }
}

.luxury-container-section5 {
    bottom: 100px;
}

.class {
    background-color: #151515 !important;
    > span,h2,p, button {
        color: white !important;
        border: none !important;
        background-color: #151515 !important;
    }

}

.luxury-button {
    justify-content: center;
    bottom: 10px;
    button {
        border: 1px solid black !important;
        
    }
}

.Luxury-container {
    .class {
        padding-top: 100px;
    }
}