.Contact-container {
    background-color: #281432;
    height: auto;
    color: white;
    text-align: center;
    padding-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Contact-info-1 {
        border-top: 1px solid gray;
        margin-top: 90px;
    }

    h2 {
        letter-spacing: normal;
        font-size: 2rem;
        font-family: 'Riviera Nights';
        font-weight: 400;
        letter-spacing: 0.16666666em;
        color: white;
    }
    

    button {
        background-color: #6D30A7;
        margin-top: 40px;
        padding: 15px 30px;
        border-radius: 50px;
        width: 280px;
        border: none;
        color: white;
        font-size: 13px;
        letter-spacing: 0.16666666em;
        font-weight: 500;
        position: relative;
        transition: opacity 0.3s ease;
        opacity: 0.8;


        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover {
            opacity: 1;

            .arrow {
                opacity: 1;
            }
        }
    }

    .Contact-info,
    .Assistance-info {
        // Sử dụng cùng lớp Contact-info và Assistance-info
        display: grid;
        place-items: center;
        background-color: #281432;
        padding: 10px;

        .info-wrapper,
        .assistance-wrapper {
            margin-top: 60px;
            width: 90%;
            border-bottom: 1px solid gray;
            padding-bottom: 20px;

            .info-content,
            .assistance-content {
                // Đổi tên lớp cho phù hợp
                max-width: 800px;
                text-align: center;
                line-height: 1.6;

                p {
                    font-weight: 300;
                    font-family: 'GillSansAlt1-Light';
                    font-size: 1rem;
                    
                }

                strong {
                    font-size: 1.2rem;
                    display: block;
                    margin-bottom: 10px;
                    
                    font-weight: 400;
                }
            }
        }
    }

    h3 {
        color: white;
    }

    .arrow2 {
        margin-left: 70px;
    }

    .assistance-toggle {
        display: flex;
        margin-left: 10px;
        justify-content: space-between; 
      
    }

    ul::marker {
        content: none !important;
    }
}

