.Page-1-container {
    height: auto;
    background-color: black;
    font-family: 'Riviera Nights';

    h1,p,h3,h4,h5,h6,span {
        color: white;

    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.Page-2-item {
    text-align: center;

    img {
        max-width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
    }
}

.item-span-fix {
    margin-top: 20px;

    span {
        font-size: 15px;
    }
}

.color-seticon-last {
   .Navbar-item {
    background-color: black;
   }
}



.Careers-container-section3 {
    height: 600px;
}

.border-1-px {
    border: 2px solid white;
    width: 40px;
}