.Page-1-container {
    height: auto;
    background-color: black;
    font-family: 'Riviera Nights';

    h1,p,h3,h4,h5,h6,span {
        color: white;

    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.Page-2-item {
    text-align: center;

    img {
        max-width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
    }
}

.item-span-fix {
    margin-top: 20px;

    span {
        font-size: 15px;
    }
}

.Page1-button {
    margin-top: 30px;
    button {
        padding: 15px 30px;
        border-radius: 50px;
        width: 280px;
        border: none;
        color: white;
        border: 1.2px solid black;
        font-size: 11px;
        letter-spacing: 0.16666666em;
        font-weight: 500;
        position: relative;
        overflow: hidden;
        transition: background-color 0.3s ease, opacity 0.3s ease;
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6D30A7;

        span {
            transition: transform 0.3s ease;
            text-transform: uppercase;
        }

        .arrow {
            position: absolute;
            top: 50%;
            right: 50px;
            transform: translateY(-50%) translateX(0);
            font-size: 20px;
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
            z-index: 1;
        }

        &:hover {
            opacity: 1;

            span {
                transform: translateX(-20px);
            }

            .arrow {
                opacity: 1;
                transform: translateY(-50%) translateX(10px);
            }
        }
    }
}

.color-seticon-last {
   .Navbar-item {
    background-color: black;
   }
}

.fix2-button {
    a {
        padding: 15px 30px;
        border-radius: 50px;
        width: 280px;
        border: none;
        color: white;
        border: 1.2px solid black;
        font-size: 11px ;
        font-weight: 500;
        letter-spacing: 0.16666666em;
        position: relative;
        overflow: hidden;
        transition: background-color 0.3s ease, opacity 0.3s ease;
        margin: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        span {
            transition: transform 0.3s ease;
           
        }

        .arrow {
            position: absolute;
            top: 50%;
            right: 50px;
            transform: translateY(-50%) translateX(0);
            font-size: 20px;
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
            z-index: 1;
        }

        &:hover {
            opacity: 1;

            span {
                transform: translateX(-20px);
            }

            .arrow {
                opacity: 1;
                transform: translateY(-50%) translateX(10px);
            }
        }
    }
}

.Careers-container-section3 {
    height: 500px;
}