.topshop-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    
    * {
        font-family: 'RimowaGrotesk-Light';
        font-weight: normal;
    }

    .topshop-container-item {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;

        .css-i4bv87-MuiSvgIcon-root {
            position: relative;
            bottom: 2px;
        }
       
        div {
            position: relative;
            align-items: center;
            letter-spacing: 3px;
            margin: 5px;

            h5 {
                cursor: pointer;
            }

            .dropdown-menu {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #fff;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                z-index: 5;
                height: auto;

                .color-option {
                    margin: 5px 0;
                    letter-spacing: normal;

                    .color-box {
                        width: 15px;
                        height: 15px;
                        margin-right: 10px;
                    }
                }
            }

            .topshop-container-item-1 {
                display: flex;
            }

            .colors-menu {
                display: flex;
                flex-wrap: wrap; 
                padding: 20px;

                .color-option {
                    display: flex;
                    align-items: center;
                    width: 50%; 
                    margin-bottom: 10px;
                }

                .color-box {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    border-radius: 5px;
                }
            }
        }
    }

    .sort-container {
        display: flex;

        p {
            margin: 0 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}

