.User-container {
    background-color: white;


    .flex-item-container {
        display: flex;
        justify-content: space-between;
        padding: 55px 0;

        .item-flex-item {
            display: flex;

            flex-direction: column;

            div:nth-child(2) {
                margin-top: 95px;
            }
        }

    }


    .item-2-flex {
        display: flex;
        align-items: end;

        button {
            margin-left: 100%;
        }

        button {
            background-color: black;
            color: white;
            border: none;
            width: 100px;
            height: 30px;
            border-radius: 3px;
        }

    }


    * {
        font-family: 'RimowaGrotesk-Light';

        hr {
            border: 1px solid #f7f5f4;
        }

    }

    .User-item-1 {
        font-family: Arial, sans-serif;
        padding: 20px;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;


        h3 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            font-size: 24px;
            color: #555;

        }

        .user-info {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}

.User-item-2 {
    display: flex;
    background: white;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1,
    p {
        color: black;
        letter-spacing: 0.01rem;
    }
}

.User-item-3 {
    background-color: white;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    width: 95%;
    margin: 0 auto;


    h3,
    p,
    h4,
    img,
    h5 {
        color: black;
        margin-top: 5px;
    }

    .item-3-left {
        img {
            width: 170px;
            background-color: #ececec;
        }
    }

    .item-3-left-item {
        .item-1-flex {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}





.User-item-4 {
    text-align: center;
    background-color: white;

    .User-item-4-item-1 {
        padding-top: 50px;
    }

    .User-item-4-item-3 {
        padding-top: 50px;
        padding-bottom: 50px;

        button {
            background-color: white;
            border: none;
            width: 300px;
            color: white;
            border: 1px solid black;
            color: black;
            height: 50px;
            border-radius: 3px;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            margin-left: auto;
        }
    }
}

.User-item-4-item-2 {
    margin-left: 35px;
    text-align: left;

    span {
        font-size: 16px;

    }
}

.Navbar-container.user-page {
    background-color: white;
    height: 70px;
    color: black;
    position: static;
}

.Navbar-container.user-page h1 {
    color: black;
}

.Navbar-container.user-page .top-row {
    color: black;
}