.User-container {
    height: 2000px;
    background-color: red;


    * {
        font-family: 'RimowaGrotesk-Light';

    }

    .User-item-1 {
        height: 100px;
        background: #f7f5f4;
        display: flex;
        align-items: center;

        .item-1 {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;

            button {
                background-color: #0c67e7;
                border: none;
                width: 300px;
                color: white;
                height: 50px;
                border-radius: 5px;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                margin-left: auto;
            }

            p {
                color: #6f6f6f;
            }

            span {
                margin-left: 15px;
                font-size: 20px;
            }
        }
    }
}

.User-item-2 {
    display: flex;
    background: white;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1,
    p {
        color: black;
        letter-spacing: 0.01rem;
    }
}

.User-item-3 {
    gap: 30px;
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;


    h3,
    p,
    h4,
    img,
    h5,
    .button {
        color: black;
        margin-top: 5px;
    }

    .item-3-left {
        display: flex;
        gap: 20px;
        width: 63%;

        img {
            width: 150px;
            background-color: #ececec;
        }
    }

    .item-3-left-item {
        display: flex;
        flex-direction: column;
        width: 100%;

        .item-3-left-item-2 {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                background: white;
                height: 38px;
                text-align: center;
                width: 40px;
                border: none;
            }

            h5 {
                text-decoration: underline;
            }

            h4 {
                margin-left: auto;
                /* Đẩy $1,704.55 ra góc phải */
            }
        }
    }

    .item-3-right {
        margin-left: 60px;
    }
}

.item-3-right-item-2 {

    >div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    img {
        width: 20px;
    }
}

.item-3-right-item-1 {
    >div {
        display: flex;

        h3:last-child {
            margin-left: auto;
        }
    }
}

.item-3-right-item-3 {

    >div {
        display: flex;
        align-items: center;
        gap: 10px;

    }

    img {
        width: 50px;
        height: 35px;
        border: 1px solid #ececec;
        background-color: white;
        border-radius: 5px;
    }
}

.item-3-left,
.item-3-right {
    margin-top: 30px;
}


.item-3-right-item-1,
.item-3-right-item-2,
.item-3-right-item-3 {
    margin-bottom: 30px;
}

.User-item-4 {
    text-align: center;
    background-color: white;
}

.Navbar-container.user-page {
    background-color: white;
    height: 70px;
    color: black;
    position: static;
}

.Navbar-container.user-page h1 {
    color: black;
}

.Navbar-container.user-page .top-row {
    color: black;
}