.Muse-container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: calc(100vh - 70px);

  p {
    font-weight: 300;
    letter-spacing: 0.0571428571em;
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-top: 15px;
  }

  h4 {
    font-weight: 400;
    letter-spacing: 0.15625em;
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-top: 15px;
  
  }
}

.Muse-item {
  grid-row: 1 / 2;
  display: flex;
  height: 60vh; // Điều chỉnh chiều cao theo nhu cầu

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Muse-item-2 {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr; // Hai cột: cột 1 chiếm 2 phần, cột 2 chiếm 1 phần
  grid-template-rows: auto auto; // Hai hàng cho ảnh
  padding: 90px;
  gap: 10px;

  .top-row {
    grid-column: 1 / 3; // Chiếm toàn bộ chiều ngang của phần tử chứa
    display: grid;
    grid-template-columns: 2fr 1fr; // Hai cột: cột 1 chiếm 2 phần, cột 2 chiếm 1 phần
    gap: 15px; // Khoảng cách giữa các ảnh
   

    .content-container-1 {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      
    

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      
      }
    }
  }

  .bottom-row {
    grid-column: 1 / 3; // Chiếm toàn bộ chiều ngang của phần tử chứa
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Bốn cột đồng đều
    gap: 10px;

    .content-container-1 {
      display: flex;
      flex-direction: column;
    
   


      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .content {
    padding: 15px;
  }
}

.content-container-1 {
  border-left: 1px solid gray;
}

