.Navbar-container {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s, height 0.3s;
  color: white;

  a {
    text-decoration: none;
  }

  h1 {
    color: white;
    font-family: 'Riviera Nights';
    font-weight: 400;
    letter-spacing: 0.5rem;
    margin-left: 70px;
    margin-top: 5px;
  }

  .container-item {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    transition: height 0.3s;

    img {
      width: 30px;
      margin-left: 30px;
    }

    .top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .menu-button {
        display: flex;
        align-items: center;

        &:hover {
          transition: opacity 0.3s;
          opacity: 0.7;
        }
      }

      .find-dealer {
        display: flex;
        align-items: center;

        &:hover {
          transition: opacity 0.3s;
          opacity: 0.7;
        }
      }
    }

    hr {
      width: 100%;
      border: none;
      border-bottom: 1px solid rgb(232, 219, 219);
      margin-bottom: 30px;
    }

    .menu-button.hidden {
      display: none;
    }
  }

  &.scrolled {
    height: 60px;

    .container-item {
      height: 100%;
    }

    hr {
      display: none;
    }
  }
}

.Navbar-container-menu1 {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: white;
    font-family: 'Riviera Nights';
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.additional-items {
  display: flex;
  width: 100%;
  align-items: center;
}

.additional-items>a:first-child {
  margin-right: auto;
}

.additional-items>a:not(:first-child) {
  margin-left: 20px;
}

.Navbar-container.scrolled {
  backdrop-filter: blur(60px) saturate(1.5);
  height: 60px;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -700px;
  height: 100vh;
  width: 500px;
  transition: left 1.7s ease;
  z-index: 20;
  overflow: hidden;
  opacity: 0.9;
  backdrop-filter: blur(60px) saturate(1.5);

  &.open {
    left: 0;
  }

  .side-menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .close-button {
      position: absolute;
      top: 40px;
      left: 50px;
      display: flex;
      align-items: center;
      z-index: 30;

      span {
        font-size: 1rem;
        color: white;
      }
    }

    .menu-items {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 100px;

      a {
        margin: 8px 0;
        font-size: 1.2rem;
        margin-top: 30px;
        color: white;
        text-decoration: none;
        opacity: 0.7 !important;
        transition: opacity 0.3s, transform 0.3s;
        transform: translateX(0);
        animation: none;

        &:hover {
          opacity: 1 !important;
        }

        &.appearing {
          animation: appearing 2s forwards;
        }

        &.closing {
          animation: closing 0.5s forwards;
        }
      }

      .menu-background {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        transition: opacity 0.5s;
        opacity: 0;

        &.closing {
          animation: closing 0.5s forwards;
          opacity: 1;
        }
      }
    }
  }
}

@keyframes appearing {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes closing {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.Navbar-container-menu1 {
  display: flex;
  justify-content: space-between;
  transition: opacity 0.3s;

  a {
    text-decoration: none;
    color: white;
    font-family: 'Riviera Nights';
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.Navbar-container-menu1 {
  opacity: 1;
}

.Navbar-container-menu1.hidden {
  opacity: 0;
}

@media (max-width: 1023px) {
  .Navbar-container h1 {
    font-size: 1.2rem;
    margin-left: 20px;
    letter-spacing: 0.3rem;
  }

  .menu-button span,
  .find-dealer span {
    font-size: 0.8rem;
  }
}

.booking-page {
  width: 100%;
  height: 100px !important;
  display: flex;
  align-items: center;
  position: static;
  z-index: 1;
  transition: background-color 0.3s, height 0.3s;
  color: black !important;
  background-color: white;
  
  .top-row {
    color: black;
  }
  h1 {
    color: black;
  }
  
 /* Menu.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
  z-index: 20; /* Đảm bảo lớp phủ ở trên cùng */
  display: none; /* Ẩn lớp phủ mặc định */
}

.overlay.open {
  display: block; /* Hiển thị lớp phủ khi menu hoặc giỏ hàng mở */
}

 
}
