.hero-section {
    margin: 0 !important;
    padding: 0 !important;


    .hero-video-container {
        position: relative;
        width: 100%;
        height: 100vh;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .hero-text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            width: 100%;
        }
    }
}

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
    background-color: rgb(210, 210, 210);
    padding-top: 140px;
    font-weight: 300;

    .intro-text {
        margin-bottom: 16px;
        width: clamp(300px, 50%, 800px);

        h3 {
            margin-bottom: 15px;
            font-weight: 500;
            font-family: 'GillAltOneMT';
            letter-spacing: 0.1rem;
        }

        h2 {
            font-size: clamp(1.5rem, 2.5vw, 2.5rem);
            font-weight: 300;
        }

        p {
            line-height: 1.9rem;
            font-weight: 300;
            font-family: 'GillSansAlt1-Light';
            font-size: clamp(0.9rem, 1.5vw, 1.2rem);
        }
    }

    .cta-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding-top: 70px;
        padding-bottom: 70px;

        button {
            padding: 8px 16px;
            border: none;
            background-color: #676776;
            color: #fff;
            cursor: pointer;
            border-radius: 50px;
            width: clamp(200px, 50%, 280px);
            height: 50px;
            position: relative;

            .cta-arrow {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                font-size: 20px;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:hover {
                .cta-arrow {
                    opacity: 1;
                }
            }
        }
    }
}

.carousel-section {
    background-color: rgb(210, 210, 210);

    .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slick-slide img {
        width: 100%;
        height: 100%;
        max-height: 700px;
        object-fit: cover;
    }
}

.hero-text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(150px, 20vw, 300px);
    background-color: rgb(210, 210, 210);

    h2 {
        font-weight: 300;
        letter-spacing: 0.1136363636em;
        font-size: clamp(1.5rem, 4vw, 2.2rem);
        text-align: center;
    }
}

.img-section {
    position: relative;
    font-weight: 300;

    .image-container {
        width: 100%;
        position: relative;
        height: auto;
        background-color: rgb(210, 210, 210);

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .text-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            color: white;
            margin-top: 7%;
            gap: 100px;


            div {

                &:nth-of-type(odd) {
                    margin-left: 5%;
                    margin-right: auto;
                    width: 30%;
                }

                &:nth-of-type(even) {
                    margin-left: auto;
                    margin-right: 5%;
                    width: 30%;
                }

                h2 {

                    font-size: clamp(1.5rem, 2vw, 2rem);
                    margin-bottom: 10px;
                    line-height: 1.3;
                    font-weight: 400;
                    letter-spacing: 0.0735294118em;
                }

                p {
                    font-size: clamp(0.8rem, 1.5vw, 1rem);
                    line-height: 1.4;
                }
            }
        }
    }
}

.intro-section2 {
    padding: 10% !important;

    h3 {
        font-size: 1.5rem;
        font-family: 'GillSansAlt1-Light' !important;
        font-weight: 300 !important;
    }

    .intro-text {
        h3 {
            font-size: 2.3rem;
        }
    }

    button {
        margin-top: 30px;
        padding: 15px 30px;
        border-radius: 50px;
        width: 280px;
        border: none;
        color: #676776;
        border: 1.2px solid #676776;
        ;
        font-size: 13px;
        letter-spacing: 0.16666666em;
        font-weight: 500;
        position: relative;
        transition: opacity 0.3s ease;
        opacity: 0.8;
        background-color: rgb(210, 210, 210);

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover {
            opacity: 1;

            .arrow {
                opacity: 1;
            }
        }
    }

}


.container-preowned-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    img {
        width: 100vw;
    }
}


.Preowned-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover;

    video {
        width: 140%;
    }
}

.hero-text-section-2 {
    h2 {
        width: 60%;
        letter-spacing: 0;
    }
}

.text-overplay2 {
    div:nth-child(1) {
        margin-left: auto !important;
        margin-right: 5% !important;
        margin-top: 12% !important;
        color: white;
       
       
    }
}

.img-section-2 {
    height: 100vh !important;
    
    .image-container {

        height: 100vh !important;

        img {
            height: 100vh !important;
        }
    }
}

.hero-text-section-3 {
    background-color: white;
}

.Preowned-item {
    text-align: center;
    background-color: rgb(210, 210, 210);
    color: black;
   
   
    h1 {
        font-family: 'Riviera Nights' !important;
        font-size: 2rem !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        padding-bottom: 70px !important;
    }

    .img-flex {
        border-top: 1px solid black;
        text-align: left !important;
       
    }

    .rotated {
        color: black !important;
    }
}


@media (max-width: 1440px) {
    .img-section {
        img {
            height: 1700px !important;
        }
    }

    .Legal-accordion {
        padding-top: 200px;
    }
}

@media (max-width: 1024px) {
    .img-section .text-overlay div {
        width: 100% !important;
        margin-left: 10px !important;
        margin-right: 0 !important;
        width: 90% !important;


    }

    .img-section {
        img {
            height: 1300px !important;
        }

    }

    .intro-section2 {
        padding: 50px !important;
    }
    
    .text-overplay2 {
        div:nth-child(1) {
            margin-left: auto !important;
            margin-right: 5% !important;
            margin-top: 15% !important;
            color: white;
           
           
        }
    }

    .img-section-2 {
        height: 50vh !important;
    
        .image-container {
    
            height: 100vh !important;
    
            img {
                height: 100vh !important;
            }
        }
    }
    
}

@media (max-width: 429px) {
    .img-section {
        img {
            height: 1500px !important;
        }

    }
}