.Booking-container {

    * {
        list-style: none;
    }
    margin-top: 20px;

    background-color: white;

    p,
    h1,
    span,
    small,
    strong,
    button {
        font-family: 'RimowaGrotesk-Light';
    }


    p {
        font-size: 14px;
    }


    div {
        margin-top: 5px;
    }

    h1 {
        margin-bottom: 15px;
    }

    .Booking-container-item {
        display: flex;
        gap: 30px;
        width: 95% !important;
        margin: 0 auto;
        overflow: hidden;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    .Booking-item-2 {
        width: 50%;
      
        
    }

    .Booking-item-1 {
        width: 75%;
        text-align: center;
        position: relative;


        >div {
            background-color: #f7f5f4;
            img {
                width: 520px;
                height: 520px;

            }
        }

        div:nth-child(1),
        div:nth-child(4) {
            display: flex;
            justify-content: center;
            margin-top: 5px;

            button {
                height: 30px;
                width: 90px;
                background-color: white;
                border: none;
                position: absolute;
                right: 5px;
                top: 15px;
                cursor: pointer;
            }

           
        }

        .abc {
            display: flex;
            gap: 5px;
            width: 100%;
            flex-wrap: nowrap;


            img {
                flex: 1;
                max-width: 50%;
                height: auto;
                max-height: 520px;
                object-fit: cover;
            }
        }

        img,
        video {
            width: 100%;
            height: auto;
        }

        @media (max-width: 768px) {
            .abc {
                display: none;
            }

            img:first-of-type {
                display: block;
            }
        }
    }


    .item-list-1 {
        p {
            margin-top: 10px;
            line-height: 24px
        }


        .read-more-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin-top: 10px;

            img {
                width: 10px;
            }
        }

        .feature-list {
            list-style: none;
            padding-left: 0;

            li {
                position: relative;
                padding-left: 20px;

                &::before {
                    content: '-';
                    position: absolute;
                    left: 0;
                }
            }
        }
    }



    .item-list-2 {
        button {
            width: 100%;
            background-color: white;
            border: 1px solid #424242;
            text-align: left;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            border-radius: 5px;

        }

        span:first-child {
            font-size: 20px;
        }

        span:nth-child(2) {
            margin-left: 10px;
        }

        img {
            width: 20px;
            margin-left: auto;
        }
    }

    .item-list-3 {
        display: flex;

        p {
            margin-left: 10px;
        }
    }

    .item-list-4 {
        display: flex;


        img {
            width: 30px;
        }

        button:nth-child(2) {
            margin-left: 10px;
        }
    }

    .item-list-5 {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            background-color: #0c67e7;
            border: none;
            width: 60%;
            color: white;
            height: 50px;
            border-radius: 5px;
        }

        .rating {
            display: flex;
            gap: 5px;

            .star {
                font-size: 24px;
                cursor: pointer;
                color: #dcdcdc;
                transition: color 0.2s;

                &.filled {
                    color: #0c67e7;
                }
            }
        }
    }

    .item-list-6 {
        display: flex;
        background-color: white;
        justify-content: space-between;
        border-bottom: 1px solid #ececec;


        img {
            background-color: white;
            width: 20px;
            border: 1px solid black;
            border-radius: 5px;
        }

        div:nth-child(1) {
            p {
                margin-top: 5px;
            }
        }


    }


    .hr {
        background-color: #ececec;
        display: block;
        height: 1px;
        margin: 20px 0;
        width: 100%;
    }

    @media (max-width: 768px) {

        .item-list-1,
        .item-list-2,
        .item-list-3,
        .item-list-4,
        .item-list-5,
        .item-list-6 {
            text-align: center;
        }

        .item-list-2 button {
            padding: 15px 5px;
        }

        .item-list-4 {
            button {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}

.hidden {
    display: none;
}

.visible {
    display: block;
    transition: all 0.3s ease;
}

.show-button {
    background-color: black;
    color: #fff;
    opacity: 0.5;
    font-size: 16px;


}

.fix-best-lat-booking {
    margin-left: 35px;
    padding-bottom: 30px;

    p {
        text-decoration: underline;
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.User-item-4-item-1 {
    padding-bottom: 15px;
}

.item-list-7 {
    padding-top: 30px;
    .item-list-7-item {
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        text-align: left;
        border-bottom: 1px solid #ececec;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;

            img {
                max-width: 70%;
                height: auto;
                background-color: #f7f5f4;
            }
        }

        span {
            margin: 15px 0;
            font-size: larger;
        }


    }
}

.iframe-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f5f4;
    z-index: 30;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;

    iframe {
        width: 70vw;
        height: 90vh;
        border: none;
    }

    >div {
        margin-top: 15px;
    }

    .close-button {
        margin-top: 10px;
        position: absolute;
        right: 10px;
        color: white;
        border: none;
        cursor: pointer;
    }
}


.ul-booking-list {
    ul {
     
        margin-top: 30px;
    
        li {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
    
            div:nth-child(1) {
                display: flex;
            }
        }
    
        
    }
}

.fix-img-1 {
    display: flex;
    align-items: center; /* Vertically aligns items in the center */
    gap: 10px; /* Optional: Adds space between the image and text */

    img {
        width: 20px; /* Adjust the size of the image as needed */
        height: auto; /* Maintain aspect ratio */
    }

    p,img {
        margin-top: 15px; /* Remove default margin */
        font-size: 15px; /* Adjust the font size as needed */
    }
}

.fix-img {
    width: 20px;
}
.li-size-list {
    
    div:nth-child(1) {
        p {
            font-size: 15px;   
        }
    }

    div:nth-child(2) {
        

        p {
            color: #424242;
            font-size: 17px;
            margin-top: 15px;
        }
    }


}

.fix-booking-last {
    font-size: 10px !important;
    margin-top: 20px;
    color: #424242;
   
}

.fix-menu-1 {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px; /* Khoảng cách giữa các mục */
    margin-left: 30px; /* Khoảng cách từ bên trái */
    
    p {
        color: #424242;
        font-size: 17px;
        margin-top: 15px;
    }
}

.fix-menu-1 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fix-menu-1 div p {
    margin: 0;
}

.fix-booking-1 {
    margin-left: 30px;
}



@media (max-width: 800px) {
    iframe {
        width: 100vw !important;
        height: 100vh !important;

    }
}