.carousel-container {
  .carousel-item {
    img,
    video {
      width: 90%;
      aspect-ratio: 1/1;
      object-fit: cover;
      transition: transform 0.5s ease;
      max-height: 400px;
      padding-left: 40px;
    }
  }

  .slick-center .carousel-item img {
    transform: scale(1.2);
  }

  .slick-center .carousel-item video {
    transform: scale(1.2);
    max-height: 400px;
    width: 90%; 
  }

  .slick-slide img,
  .slick-slide video {
    transform: scale(0.8);
  }
}
