.carousel-container {
    .carousel-title {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .carousel-2-container {
        .carousel-2-item {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-height: 400px;
            right: 40px;

            .img-container {
                position: relative;
                height: 150px; // Chiều cao của ảnh trong carousel
                width: 95%; // Chiều rộng của ảnh trong carousel
                background-color: hsl(0, 0%, 90%); // Màu nền của container

                .img1,
                .imgright {
                    position: absolute;
                    top: -15px;
                    left: 0;
                    width: 100%;
                    height: 120%;
                    object-fit: cover;
                    transition: opacity 0.2s ease-in-out; // Thêm hiệu ứng chuyển đổi
                }

                .img1 {
                    opacity: 1;
                    z-index: 1; // Đảm bảo ảnh chính ở trên cùng
                }

                .imgright {
                    opacity: 0;
                    z-index: 2; // Đảm bảo ảnh hover ở trên cùng
                }

                .img1.hidden {
                    opacity: 0;
                }

                .imgright.visible {
                    opacity: 1;
                }
            }
        }

        .carousel-2-item-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
         
            margin-top: 15px;
           
            padding: 0 5px;

            span {
                font-size: 14px;
            }

            .item-caption {
                margin-bottom: 5px;
            }

            .item-price {
                color: #6f6f6f;
            }
        }

        .add-to-cart-button {
            background-color: white;
            color: #0c67e7;
            border: 1.5px solid #0c67e7;
            width: 95%;
            height: 50px;
            padding: 10px 15px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 11px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 30px;

            &:hover {
                background-color: #6f6f6f;
            }
        }
    }
}
