.carousel-container {
  .carousel-item img {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform 0.5s ease;
    max-height: 400px;
  }

  video {
    width: 90%;
  }

  .slick-center .carousel-item img {
    transform: scale(1.2);
  }

  .slick-slide img {
    transform: scale(0.8);
  }
  
}

