.carousel-new-container {
    width: 105%;
}

.carousel-new-item {
    position: relative;


    .img-link {
        text-decoration: none;
        /* Ensure links are styled correctly */
    }

    // Thay đổi kích thước hoặc bố cục của từng mục nếu cần
    .img-container {
        position: relative;
        height: 350px;
        background-color: hsl(0, 0%, 90%); // Giữ nền cố định
        width: 95%;
        cursor: pointer;

        .img1,
        .imgright {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.3s ease-in-out; // Thêm hiệu ứng chuyển đổi
        }

        .img1 {
            opacity: 1;
            z-index: 1; // Đảm bảo ảnh chính ở trên cùng
        }

        .imgright {
            opacity: 0;
            z-index: 2; // Đảm bảo ảnh hover ở trên cùng
        }

        .img1.hidden {
            opacity: 0;
        }

        .imgright.visible {
            opacity: 1;
        }
    }
}

.carousel-new-item-info {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
}

.carousel-item-caption {
    font-size: 16px;
    margin-bottom: 5px;
}

.carousel-item-price {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.carousel-add-to-cart-button {
    background-color: #0c67e7;
    border: none;
    width: 360px;
    color: white;
    height: 50px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-left: auto;
}