.carousel-2-container {
   

    .carousel-2-item {
        img {
            width: 150px;
            height: 150px;
            padding: 0 30px 32px;
        }
        margin-left: 129px;
    }
     
  
    
}