.carousel-container {
    background-color: rgb(210, 210, 210);

    .carousel-item img {
        width: 95%;
       
        transition: transform 0.5s ease;
      }
      
      .slick-center .carousel-item img {
        transform: scale(1.2); 
      }
      
      .slick-slide img {
        transform: scale(0.8); 
      }
      

}