.Page2-container {
    background-color: black !important;
   h1, h2 {
        text-transform: uppercase !important;
   }

    .page-2-overlay {
        .text-overlay h1,
        .Menu1-container .text-overlay h2 {
            width: 70% !important;
            font-size: 4.5rem;
           

        }

        .text-overplay-2 {
            bottom: 35%;
        }

       
    }

    .Menu1-background-container {
        background-color: black;
        color: white;
        video,img {
            width: 140%;
        }
    }

    .Menu1-background-container .text-overplay-kk p {
        font-family: inherit;
        font-weight: bold;
        letter-spacing: 0.0384615385em;
        font-size: 0.9rem;
        line-height: 1.5;
        width: 70%;
        margin: 0 auto;
        
    }
    

    .page-2-fix {
       margin-top: 400px;
        h1,p {
            color: white;
          
        }

        h1 {
            text-transform: uppercase;
            font-size: 2.4rem !important;
        }

      
    }

    .page2-section-2-container {
       
        img {
            width: 100vw;
        }

        color: white;
    }


    .page-3-fix {
        margin-top: 100px;
         h1,p {
             color: white;
           
         }
 
         h1 {
             text-transform: uppercase;
             font-size: 2.4rem !important;
         }
 
       
     }

     .Page-2-color-item {
        h1, p {
            color: white;
        }
     }

    
}


.color-best-abc {
    background-color: #222;
 }

 .Careers-container-section4 {
    height: 400px;
 }

 .best-fix-text {
    padding-bottom: 300px;
 }

 .fix-top-abc {
    padding-bottom: 200px;
 }

 .page-2-item {
    margin-top: 0 !important;
 }