.background-cookie {
    background: rgb(40, 20, 50);
    height: auto;
}

.animated-text {
    position: relative;
    color: white;
    opacity: 0;
    animation: textSlideUp 1.5s forwards;
}

.report-buttons {
    > div {
        margin-left: 50px;
        margin-top: 30px;
    }
}


.text-font {
    padding: 50px;

    h2 {
        color: #fff;
        font: 300 34px / 44px epaasTextFont, "Riviera Nights", "Gill Alt One MT", Helvetica, Arial, -apple-system, sans-serif;
        letter-spacing: 4px;
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    h1 {
        font-weight: 300;
    }

    li {
        font-weight: 300;
    }

    p {
        font-weight: 300;

    }

    .cookie-report-buttons {
        border: 1px solid dimgrey;
        padding: 16px 24px 40px 24px; 
    }
}

.Cookie-text {
    text-align: left;
    padding: 16px 16px;

    h2 {
        font-weight: 500;
    }

    h2 {
        font-size: 15px;

    }

    p,
    li {
        margin-bottom: 18px;

    }

    p {
        line-height: 2rem;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    }

    li {
        margin-left: 14px;

    }

    section:nth-child(even) {
        border-bottom: 1px solid dimgrey;
        ;
    }

    section:first-child {
        div:first-child {
            > div {
                display: flex;
                justify-content: space-between;
                
            }
        }
    }

    section:nth-child(3) {
        div:first-child {
            display: flex;
            justify-content: space-between;
        }
    }
}


@keyframes textSlideUp {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1024px) {
    .text-font {
        padding: 10px;
    }

    .Cookie-text {
     
        padding: 0 !important;
    }

    ul, li {
        margin-left: 0 !important;
    }
}