.Sitemap-img {
    h2 {
        font-family: 'Riviera Nights' !important;
        font-weight: 100;
    }
}

.Sitemap-list {
    background-color: #281432;
    height: 5000px;
    color: white;

    h2 {
        text-align: left;
        width: 20%;
    }
   
    .Sitemap-list-item {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        width: 80%;
        margin: 0 auto;
    }
    a {
        color: white;
    }

    li {
        list-style: none;
        margin-top: 1px;
        
    }

    ul {
        margin-left: 300px;
        
    }

    hr {
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }

    p {
        width: 300px;
        margin-left: 60%;
    }
}

@media (max-width: 865px) {
    .Sitemap-list {
        height: 10000px;
    }
}