.Page6-background {
    background-color: black;

    h1,p {
        color: white;
    }
}

.Page6-img-fix {
    display: flex;
    justify-content: center;  
    align-items: center;     
    padding: 20px;          
    background-color: #000;  
}

.Page6-img-fix img {
    max-width: 100%;    
    height: auto;       
    max-height: 700px;  
}

.color-fix-aaa {
    h1,p {
        color: white;
    }
    button {
        border: none;
    }
}

.Careers-container-section6 {
    height: 1000px !important;
}

.carousel-section-background {
    background-color: black;
}

.fix-color-overlay {
    top: 370px !important;
}